.nav {
    background-color: transparent;
    text-decoration: none;
    padding-right: 65px;
  }
  .active {
    transition: all 0.3s;
    font-weight: bold;
    color: #011a61;
    background: #fff;
    border-radius: 10px;
    padding-right: 65px;
  }