.LastCon {
  height: 600px;
  width: 100%;
  background-color: rgb(250, 250, 250) !important;
}
.LastKaruTitle {
  line-height: 200px !important;
  margin-left: 370px;
  width: 587px;
  height: 57px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #011a61;
}
.LastCardTitleWrapper {
  height: 200px;
}
.LastCardItem {
  position: relative;
}
.LastCardItemChild {
  padding: 0px 30px;
  margin-top: 35px;
  width: 400px !important;
  height: 270px;
  background: #ffffff;
  box-shadow: 16px 24px 56px rgba(96, 1, 211, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.LastCardImg {
  top: 5px;
  left: 10px;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.LastCardText {
  margin-top: 40px !important;
  width: 326px;
  height: 120px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #70798b;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.MiniName {
  width: 147px;
  height: 19px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #011a61;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}
.MiniTitle {
  width: 200px;
  height: 14px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #b6bbc4;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}
