.itemSliderTArget {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
.slick-active .itemSliderTArget {
  margin-top: 20px;
}
.slick-center .itemSliderTArget {
  margin-top: 0px;
}
.itemSlider {
  background: #fcfcfc;
  height: 250px;
  margin: 10px;
  width: 350px !important;
  display: inline-flex !important;
  border-radius: 10% !important;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 21px rgb(0 0 0 / 70%);
}
.slick-center .itemSlider {
  height: 280px !important;
  width: 380px !important;
}
/* .Container { */
/* position: relative; */
/* line-height: 500px; */
/* height: 500px; */
/* width: 100%; */
/* } */
.maxsulotlar {
  margin-bottom: 100px;
  height: 51px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
  color: #011a61;
}
.slick-prev {
  /* position: absolute; */
  left: 5px !important;
  height: 100px !important;
  z-index: 1000 !important;
}
.slick-next {
  /* position: absolute; */
  right: 5px !important;
  z-index: 1000 !important;
  height: 100px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  transition: all 0.3s;
  color: rgb(179, 37, 61) !important;
}
.slick-list {
  padding: 0 !important;
}

.imgtext {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  height: 40px;
  width: 200px;
  background: white;
}
.Perent {
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
img {
  border-radius: 20px;
}
